link(rel='stylesheet', href='/css/lg.css')
script(src='http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU')
include includes/background
script(src='/js/map.js')
script(src='/js/views/addburial.js')


div.bgplate
div.plate
	include includes/header
	form(name="addburial", action="/burials/add", enctype="multipart/form-data", method="post").addform
		table
			tr
				td 
					div Название
				td 
					input(type="text", name="title")
			tr
				td 
					div Описание
				td 
					textarea(name="descr")
			tr
				td 
					div Расположение
				td
					table
						tr
							td 
								div квартал
							td 
								div ряд
							td 
								div место
							td 
								div литера
						tr
							td 
								input.s_num(type="number", name="block") 
							td 
								input.s_num(type="number", name="line") 
							td 
								input.s_num(type="number", name="place") 
							td 
								input.s_num(type="text", name="subplace")
			tr
				td 
					div Фото
				td			
					input(type="file", name="image")
			tr 						
				td 
					div Маркер
				td			
					input(type="text", name="markImg")
			tr 
				td(colspan="2")
					div Примечательное 
						input(type="checkbox", name="featured")
			tr 
				td(colspan="2")
					div Сведения о захороненых людях 
						input(type="checkbox", name="areBuried")#areBuried		
		input(type="text", name="coords").hidden
			
		div
			div#persons
			button.normal_button#addone(type="button") +1
			button.normal_button#removeone(type="button") -1 
		input(type="submit", value="Добавить в реестр").normal_button

	#map Укажите место на карте: 

div.extraPersonTemplate.hidden
	div
		ФИО
		input(type="text", name="fio")
	div
		Дата рождения 
		input(type="text", name="dbth")
	div
		Дата смерти 
		input(type="text", name="ddth")
	div 
		Дополнительная информация
		textarea(name="info")

include includes/authline