link(rel='stylesheet', href='/css/lg.css')
script(src='http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU')
include includes/background
script(src='/js/map.js')
script(src='/js/pmtest.js')
script.
	var placemarks = !{placemarks}
	ymaps.ready(init);


div.bgplate
div.plate
	include includes/header

	button(onclick="pmtest()").normal_button Известные
	button(onclick="pmtest()", disabled="true").normal_button Все

	#map Карта Лазаревского кладбища

include includes/authline